@media (min-width: 359px) {
  .third-sec-hide {
    display: none;
  }
  .hide {
    display: block;
  }
  .footer-large-screen {
    display: none;
  }
  .footer-small-screen {
    display: block;
  }
}

@media (min-width: 380px) {
  .third-sec-hide {
    display: none;
  }
  .hide {
    display: block;
  }
  .footer-large-screen {
    display: none;
  }
  .footer-small-screen {
    display: block;
  }
}

@media (min-width: 479px) {
  .second-sec-intro {
    padding: 0 2rem 0 2rem;
  }
  .third-sec-hide {
    display: none;
  }
  .hide {
    display: block;
  }
  .footer-large-screen {
    display: none;
  }
  .footer-small-screen {
    display: block;
  }
}

@media (min-width: 550px) {
  .second-sec-intro {
    padding: 0 2rem 0 2rem;
  }
  .second-sec-cont-img {
    max-width: 30rem;
    margin: 0 auto;
  }
  .fifth-sec-cont {
    max-width: 30rem;
  }
  .six-sec-cont {
    max-width: 30rem;
  }
  .seven-sec-cont {
    max-width: 30rem;
    margin: 0 auto;
  }
  .third-sec-hide {
    display: none;
  }
  .hide {
    display: block;
  }
  .footer-large-screen {
    display: none;
  }
  .footer-small-screen {
    display: block;
  }
}

@media (min-width: 768px) {
  .third-sec-hide {
    display: block;
  }
  .second-sec-intro {
    padding: 0 2rem 0 2rem;
  }
  .second-sec-cont-img {
    max-width: 30rem;
    margin: 0 auto;
  }
  .fifth-sec-cont {
    max-width: 30rem;
  }
  .six-sec-cont {
    max-width: 30rem;
  }
  .seven-sec-cont {
    max-width: 30rem;
    margin: 0 auto;
  }
  .hide {
    display: none;
  }
  .third-container-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-large-screen {
    display: block;
  }
  .footer-small-screen {
    display: none;
  }
  .footer-main-cont {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-credit-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
